* {
  //-webkit-box-shadow: inset 0 0 0 1px red;
  //-moz-box-shadow: inset 0 0 0 red;
  //box-shadow: inset 0px 0 0 1px red;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  //background-color: #fff;
  background-color: #F0F3FA;
  padding-top: 64px;
}

img {
  vertical-align: middle;
}

.nav {
  background-color: #fff;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);

  .brand {
    float: left;
    //padding: 22px;
    color: white;

    font-size: 2.5rem;
    font-weight: 100;

    background: #2cb3cb; /* Old browsers */
    background: -moz-linear-gradient(left, #2cb3cb 0%, #2ee2d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2cb3cb 0%, #2ee2d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2cb3cb 0%, #2ee2d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2cb3cb', endColorstr='#2ee2d3', GradientType=1);

    width: 200px;
    line-height: 64px;
    text-align: center;
  }

  .search {
    height: 64px;
    float: left;
    padding: 0 20px;
    .icon {
      color: #2AB5CA;
      padding: 0 20px;
      float: left;
      height: 64px;
      font-size: 3rem;
      line-height: 64px;
      span {
        vertical-align: middle;
      }
    }
    input {
      height: 64px;
      float: left;
      font-size: 3rem;
      font-weight: 100;
      border: none;
      outline: none;
    }
  }

  .user {
    float: right;
    line-height: 64px;
    width: 200px;
    text-align: center;
    .image {
      float: left;
      img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: 0 8px;
      }
    }
    .name {
      color: #91949D;
      float: left;
    }

  }
}

.left-nav {
  float: left;
  width: 200px;
  height: 100%;
  color: #fff;
  background-color: #495062;
  ul {
    padding: 0;
    li {
      color: #8A94AD;
      padding: 8px 20px;
      border-left: 2px solid #495062;
      &.active {
        color: #fff;
        border-left: 2px solid #2AB5CC;
      }
      list-style: none;
      .icon {
        float: left;
        margin-right: 16px;
        font-size: 2rem;
        line-height: 2rem;
      }
      .name {
        text-transform: uppercase;
        font-weight: 300;
      }
    }
  }

}

.right {
  float: right;
  width: 200px;
  height: 100%;
  background-color: #fff;
}