@container-width: 980px;
@breakpoint: 750px;

//@backgroud-color:#fff;
@backgroud-color: #F0F3FA;
@color: #373a3c;

@grey: #8A94AD;
@grey-dark: darken(@grey, 5%);

@primary: #2AB5CA;

@success: green;
@success-dark: darken(@success, 5%);
@warning: yellow;
@warning-dark: darken(@warning, 5%);
@error: #D9585C;
@error-dark: darken(@error, 5%);

@import "normalize";
@import "print";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

//@-ms-viewport {
//  width: device-width;
//}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: @color;
  background-color: @backgroud-color;
}

@import "type";
@import "list";
@import "button";
@import "form";
@import "img";
@import "grid";
@import "nav";
@import "badge";
@import "animation";
@import "util";

[data-icon] {
  display: inline-block;
}

//
//html, body {
//  height: 100%;
//  background-color: #F0F3FA;
//}
//
//html {
//  font-size: 10px;
//  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//}
//
//body {
//  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//  font-size: 14px;
//  line-height: 1.42857143;
//  color: #333;
//  //background-color: #fff;
//  padding-top: 45px;
//}

//.right {
//  display: none;
//  float: right;
//  width: 180px;;
//  height: 100%;
//  background-color: #fff;
//}
//

//.clearfix:before, .clearfix:after {
//  display: table;
//  content: " ";
//}
//
//.clearfix:after {
//  clear: both;
//}