<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="/favicon.ico">-->

    <title>notgeefu</title>

    <link href="/components/normalize-css/normalize.css" rel="stylesheet">
    <link href="/components/elegant-icons/css/style.css" rel="stylesheet">
    <link href="/style/style.min.css" rel="stylesheet">
</head>

<body>


<nav class="nav">

    <div class="brand">
        <span>NGF</span>
    </div>

    <div class="search" id="nav-search">
        <div class="icon">
            <span data-icon="&#x55;"></span>
        </div>
        <input type="text">
    </div>

    <div class="pull-right">
        <div class="user" data-toggle-hover="#user-menu">
            <div class="image">
                <img src="https://s.gravatar.com/avatar/6e7c5501261e6e5b806a14336da15e78?s=80&r=g">
            </div>
            <div class="name">
                <span>Martin Page</span>
            </div>

            <div id="user-menu" class="hidden">
                <ul>
                    <li><a href="/signout">Sign out</a></li>
                </ul>
            </div>

        </div>

        <div class="new" data-toggle-click="#new-list">
            <!--<a href="#">-->
            <span data-icon="&#x4c;"></span>
            <!--</a>-->
        </div>


    </div>

</nav>


<div id="new-list" class="hidden">

    <span>Add new:</span>
    <ul>
        <li><a href="#" class="button">Organism</a></li>
        <li><a href="#" class="button">Genome</a></li>
        <li><a href="#" class="button">Experiment</a></li>
    </ul>
</div>

<div class="left-nav">
    <ul>
        <li class="active">
            <a href="#" class="active">
                <div class="icon">
                    <span data-icon="&#xe01c;"></span>
                </div>
                <div class="name">Dashboard</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <span data-icon="&#xe01c;"></span>
                </div>
                <div class="name">Projects List</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <span data-icon="&#xe013;"></span>
                </div>
                <div class="name">Schedules</div>
                <span class="badge">5</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <span data-icon="&#xe028;"></span>
                </div>
                <div class="name">Help & Support</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon">
                    <span data-icon="&#xe037;"></span>
                </div>
                <div class="name">Settings</div>
            </a>
        </li>

        <!--LOG OUT at bottom-->
        <li class="bottom">
            <a href="#">
                <div class="icon">
                    <span data-icon="&#xe037;"></span>
                </div>
                <div class="name">Log Out</div>
            </a>
        </li>
    </ul>
</div>

<div class="search-results hidden">
    <ul>
        <li>
            <span>results 1</span>
        </li>
        <li>
            <span>results 2</span>
        </li>
        <li>
            <span>results 3</span>
        </li>
    </ul>
</div>

<div class="right">
</div>
