<% include ./head.ejs %>

<nav class="nav">

    <div class="brand">
        <span>Project</span>
    </div>

    <div class="search">
        <div class="icon">
            <span data-icon="&#x55;"></span>
        </div>
        <input type="text">
    </div>

    <div class="user">
        <div class="image">
            <img src="https://s.gravatar.com/avatar/6e7c5501261e6e5b806a14336da15e78?s=80&r=g">
        </div>
        <div class="name">
            <span>Martin Page</span>
        </div>

    </div>


</nav>

<div class="left-nav">
    <ul>
        <li class="active">
            <div class="icon">
                <span data-icon="&#xe01c;"></span>
            </div>
            <div class="name">Dashboard</div>
        </li>
        <li>
            <div class="icon">
                <span data-icon="&#xe01c;"></span>
            </div>
            <div class="name">Projects List</div>
        </li>
    </ul>
</div>

<div class="right">
</div>

<% include ./foot.ejs %>